.tit{
	background: #0E848F;
	padding: .5em .5em 0.5em 1.5em;
	margin: 0.5em 31.5em 1.5em 0.5em;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 2px 2px 23px 6px #B40431;
}
.subTit{
	background: #11ACBB;
	padding: 0.5em 0.5em 0.5em 1.5em;
	margin: 1.5em 42.5em 1.5em 0.5em;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 2px 2px 44px 5px #551122;
}	


